
.fix{overflow: hidden;}
.m-l5{margin-left:5px !important;}
.m-l10{margin-left:10px !important;}
.m-l15{margin-left:15px !important;}

.m-r5{margin-right:5px !important;}
.m-r10{margin-right:10px !important;}
.m-r15{margin-right:15px !important;}

.m-t5{margin-top:5px !important;}
.m-t10{margin-top:10px !important;}
.m-t15{margin-top:15px !important;}

.m-b5{margin-bottom:5px !important;}
.m-b10{margin-bottom:10px !important;}
.m-b15{margin-bottom:15px !important;}

.p-0{padding: 0px;}
.p-5{padding:5px;}
.p-10{padding:10px;}
.p-15{padding:15px;}

.p-b5{padding-bottom:5px;}
.p-b10{padding-bottom:10px;}
.p-b15{padding-bottom:15px;}
.p-b20{padding-bottom:20px;}