.highlight {padding: 9px 14px;margin-bottom: 14px;background-color: #F7F7F9;border: 1px solid #E1E1E8;border-radius: 4px;}
.input-error{border-color: #843534;}


.jumbotronLogin{background:#C8C8C8;opacity:0.7;margin-top:20%;color:#000000}
.containerPadd{padding-top:80px;}
.addEmployeeInDiv input{margin-bottom:15px}